<div class="container chatroom-new-container">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <h1>Create a new chatroom about this product</h1>
      <h3>What's the topic about?</h3>
      <%= simple_form_for [@product, @chatroom], remote: true do |f| %>
        <%= f.input :name %>
        <%= f.submit "Start a chat", class: "btn btn-primary" %>
      <% end %>
    </div>
    <div class="col-sm-12 col-md-6">
      <%= link_to product_path(@product) do %>
      <div class="card-product rounded mt-3">
        <%# add cloudinary 1st image %>
        <div class="img-wrapper">
          <%= cl_image_tag @product.photos[0].key, height: 300, width: 200, crop: :fill %>
          <%# <img src="https://source.unsplash.com/VlMMBxSZuSI/200x300" /> %>
        </div>
        <div class="card-product-infos">
          <div>
            <h2 class=""><%= @product.name.upcase %></h2>
            <p><%= @product.category.upcase %></p>
          </div>
          <h2 class="card-product-pricing"><%= humanized_money_with_symbol(@product.price) %></h2>
          <i class="far fa-heart card-product-save"></i>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
