<div class="container chatroom-show-container chat-panel">
  <div class="row no-gutters">
    <div class="col-12 col-md-3 chatroom-show-sidebar">
      <h1>Your chatrooms</h1>
      <%= render partial: 'chatrooms' %>
    </div>
    <div class="col-sm-12 col-md-8">
      <div class="chatroom-details">
        <h1><%= @chatroom.product.name %></h1>
        <button class="btn btn-ghost-3" id="sweet-alert-demo">End chat</button>
        <%= link_to "", chatroom_path(@chatroom), method: :delete, id: "delete-link", class: "hidden"%>
      </div>
      <h6><%= link_to "Go to this product", product_path(@chatroom.product) %></h6>
      <hr>
      <h6><%= @chatroom.user.username %> | <%= @chatroom.product.user.username %></h6>
      <hr>
      <div id="messages" class="chat-bubble chat-bubble--right" data-chatroom-id="<%= @chatroom.id %>">
        <% @chatroom.messages.each do |message| %>
          <div class="message-container" id="message-<%= message.id %>">
            <i class="author">
              <span><%= message.user.username %></span>
              <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
            </i>
            <p><%= message.content %></p>
          </div>
        <% end %>
      </div>

      <%= simple_form_for [@chatroom, @message], remote: true do |f| %>
        <%= f.input :content, label: false, placeholder: "Message ##{@chatroom.name}" %>
      <% end %>
    </div>
  </div>
</div>
