<div class="container booking-form-container mt-5">
  <div class="row booking-form-row">
    <div class="col-md-5 col-sm-12">
      <h1>MAKE A NEW BOOKING</h1>
      <small>Please select the dates that you want to book this item for:</small>
      <%= render 'shared/new_booking' %>
    </div>

    <div class="col-md-5 col-sm-12">
      <div class="card-product rounded mt-3">
        <%# add cloudinary 1st image %>
        <div class="img-wrapper">
          <%= cl_image_tag @product.photos[0].key, height: 300, width: 200, crop: :fill %>
          <%# <img src="https://source.unsplash.com/VlMMBxSZuSI/200x300" /> %>
        </div>
        <div class="card-product-infos">
          <div>
            <h2 class=""><%= @product.name.upcase %></h2>
            <p><%= @product.category.upcase %></p>
          </div>
          <h2 class="card-product-pricing"><%= humanized_money_with_symbol(@product.price) %></h2>
          <i class="far fa-heart card-product-save"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mapbox-container" id="delivery-select">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <h1>Delivery locations in the UK</h1>
      <small>Please select a location for your product to be delivered to:</small>
      <div id="map" style="width: 100%; height: 550px;" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>
