<div class="container d-flex mt-5 align-items-center">
  <% if current_user.photo.attached? %>
    <%= cl_image_tag current_user.photo.key, height: 300, width: 400, crop: :fill, class: 'avatar-large avatar-profile' %>
  <% else %>
    <img class="avatar-large avatar-profile" src="https://source.unsplash.com/1DjbGRDh7-E/1600x900" />
  <% end %>
  <div class="my-account-details">
    <h1>Hi, <%= current_user.first_name.capitalize %></h1>
    <p>Check out your products and bookings below.</p>
  </div>
</div>

<hr>

<% @pending_user_bookings = current_user.bookings.select do |booking| %>
  <% booking.status == "Pending" %>
<% end %>

<div class="container">
  <% if @pending_user_bookings.length > 0 %>
    <h1>My pending bookings</h1>
  <% else %>
    <h1>My pending bookings</h1>
    <small>No pending bookings right now ~</small>
  <% end %>
  <div class="row">

  <% current_user.bookings.each do |booking| %>
    <% if booking.status == "Pending" %>
        <% booking.product %>
        <div class="col-sm-6 col-md-3">
          <%= link_to product_path(booking.product) do %>
            <div class="card-product rounded mt-3">
              <%# add cloudinary 1st image %>
              <div class="img-wrapper">
                <%= cl_image_tag booking.product.photos[0].key, height: 300, width: 200, crop: :fill %>
                <%# <img src="https://source.unsplash.com/VlMMBxSZuSI/200x300" /> %>
              </div>
              <div class="card-product-infos">
            <div>
              <h2 class=""><%= booking.product.name.upcase %></h2>
              <p><%= booking.product.category.upcase %></p>
              <p>BOOKING STATUS:<%= booking.status %></p>
            </div>
            <h2 class="card-product-pricing"><%= humanized_money_with_symbol(booking.product.price) %></h2>
            <i class="far fa-heart card-product-save"></i>
          </div>
        </div>
        <% end %>
        <% if current_user == booking.product.user %>
          <div class="accept-decline-buttons">
            <%= form_with(model: booking, url: booking_path(booking), remote: true, method: "patch") do |f| %>
              <%= f.hidden_field :status, value: "Accepted" %>
              <%= f.submit "Accept", class: "btn btn-success" %>
            <% end %>
            <%= form_with(model: booking, url: booking_path(booking), remote: true, method: "patch") do |f| %>
              <%= f.hidden_field :status, value: "Declined" %>
              <%= f.submit "Decline", class: "btn btn-danger" %>
            <% end %>
         </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
  </div>
  <div class="row">

  <% current_user.requested_bookings.each do |booking| %>
    <% if booking.status == "Pending" %>
        <% booking.product %>
        <div class="col-sm-6 col-md-3">
          <%= link_to product_path(booking.product) do %>
            <div class="card-product rounded mt-3">
              <%# add cloudinary 1st image %>
              <div class="img-wrapper">
                <%= cl_image_tag booking.product.photos[0].key, height: 300, width: 200, crop: :fill %>
                <%# <img src="https://source.unsplash.com/VlMMBxSZuSI/200x300" /> %>
              </div>
              <div class="card-product-infos">
            <div>
              <h2 class=""><%= booking.product.name.upcase %></h2>
              <p><%= booking.product.category.upcase %></p>
              <p>BOOKING STATUS:<%= booking.status %></p>
            </div>
            <h2 class="card-product-pricing">£99.99</h2>
            <i class="far fa-heart card-product-save"></i>
          </div>
        </div>
        <% end %>
        <% if current_user == booking.product.user %>
          <div class="accept-decline-buttons">
            <%= form_with(model: booking, url: booking_path(booking), remote: true, method: "patch") do |f| %>
              <%= f.hidden_field :status, value: "Accepted" %>
              <%= f.submit "Accept", class: "btn btn-success" %>
            <% end %>
            <%= form_with(model: booking, url: booking_path(booking), remote: true, method: "patch") do |f| %>
              <%= f.hidden_field :status, value: "Declined" %>
              <%= f.submit "Decline", class: "btn btn-danger" %>
            <% end %>
         </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
  </div>
</div>

<hr>

<div class="container">
  <div class="my-account-products">
    <h1>My products</h1>
    <% if current_user.products.count > 0 %>
      <%= link_to 'Add a new product', new_product_path, class: "btn btn-flat" %>
    <% end %>
  </div>
  <% if current_user.products.length > 0 %>
    <div class="row">
      <% current_user.products.each do |product| %>
        <div class="col-sm-6 col-md-3">
          <%= link_to product_path(product) do %>
            <div class="card-product rounded mt-3">
              <%# add cloudinary 1st image %>
              <div class="img-wrapper">
                <%= cl_image_tag product.photos[0].key, height: 300, width: 200, crop: :fill %>
                <%# <img src="https://source.unsplash.com/VlMMBxSZuSI/200x300" /> %>
              </div>
              <div class="card-product-infos">
            <div>
              <h2 class=""><%= product.name.upcase %></h2>
              <p><%= product.category.upcase %></p>
            </div>
            <h2 class="card-product-pricing"><%= humanized_money_with_symbol(product.price) %></h2>
            <i class="far fa-heart card-product-save"></i>
          </div>
        </div>
        <% end %>
      </div>
      <% end %>
    <% else %>
    <div class="container my-account-products-container">
      <h4 class="m-5 text-center">You have no products for rental. Anything you want to rent out?</h4>
      <%= link_to 'Add a new product', new_product_path, class: "btn btn-flat" %>
    </div>
  </div>
  <% end %>
</div>
