<%# desktop nav ***************************** %>

<nav data-controller="navbar" id="navbar" class="p-2 navbar-mqn desktop-nav-section">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <%= link_to 'Home', root_path, class: 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= link_to 'Rent Clothing', products_path, class: 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= link_to 'Profile', user_path, class: 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= link_to 'Chats', chats_path, class: 'nav-link' %>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Community</a>
      <%# <%= link_to 'Community', ##, class: 'nav-link' %>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">About Us</a>
      <%# <%= link_to 'About Us', ##, class: 'nav-link' %>
    </li>
    <li class="nav-item">
      <%# <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Sign in/Register</a> %>
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            My Account
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="left: -70px">
            <a class="dropdown-item" href="#"></a>
            <%= link_to 'My Profile', user_path, class: 'dropdown-item' %>
            <%= link_to 'Add a Listing', new_product_path, class: 'dropdown-item' %>
            <div class="dropdown-divider"></div>
            <%= link_to 'Logout', destroy_user_session_path, method: :delete, remote: false, class: 'dropdown-item' %>
          </div>
        </li>
      <% else %>
        <%= link_to 'Sign in/Register', new_user_session_path, class: 'nav-link' %>
      <% end %>
    </li>
    <li>
      <div class="input-group rounded search-bar">
        <%= form_tag products_path, method: :get do %>
        <div class="d-flex">
            <%= text_field_tag :query,
                              params[:query],
                              class: "form-control",
                              id: "search-addon",
                              placeholder: "Start renting!"
            %>
            <%= button_tag(type: "submit", class: "input-group-text border-0") do %>
              <span class="" id="search-addon">
                <i class="fas fa-search"></i>
              </span>
            <% end %>
          </div>
        <% end %>
      </div>
    </li>
  </ul>
</nav>

<%# mobile nav ***************************** %>

<nav class="mobile-nav-section navbar-mqn navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
          <%= link_to 'Home', root_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
          <%= link_to 'Rent Clothing', products_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Community</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About Us</a>
      </li>
      <li class="nav-item">
        <% if user_signed_in? %>
          <%= link_to 'Logout', destroy_user_session_path, method: :delete, remote:false, class: 'nav-link' %>
        <% else %>
          <%= link_to 'Sign in/Register', new_user_session_path, class: 'nav-link' %>
        <% end %>
      </li>
    </ul>
  </div>
  <div class="input-group rounded search-bar">
    <%= form_tag products_path, method: :get do %>
    <div class="d-flex">
        <%= text_field_tag :query,
                          params[:query],
                          class: "form-control",
                          id: "search-addon",
                          placeholder: "Start renting!"
        %>
        <%= button_tag(type: "submit", class: "input-group-text border-0") do %>
          <span class="" id="search-addon">
            <i class="fas fa-search"></i>
          </span>
        <% end %>
      </div>
    <% end %>
  </div>
</nav>
